* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


/* Float four columns side by side */

.column3 {
    float: left;
    width: 25%;
    height: 300px;
    padding: 0 10px;
}


/* Remove extra left and right margins, due to padding */

.row3 {
    margin: 0 -5px;
}


/* Clear floats after the columns */

.row3:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive columns */

@media screen and (max-width: 600px) {
    .column3 {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}


/* Style the counter cards */

.card3 {
    box-shadow: 0 4px 8px 0 rgba(9, 90, 104, 0.9);
    padding: 16px;
    color: #f2f2f2;
    text-align: center;
    background-color: hsl(46, 86%, 50%);
    height: 100%;
}


/* NAVBAR  */

#navbar {
    overflow: hidden;
    background-color: #189AB4;
    height: 85px;
    padding: 10px;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: #ddd;
    color: hsl(46, 86%, 50%);
    border-radius: 10px;
}

#navbar a.active {
    background-color: hsl(46, 86%, 50%);
    color: white;
    border-radius: 10px;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}


/* footer  */

footer {
    margin-top: 30px;
    /* text-align: right; */
    padding: 3px;
    background-color: hsl(46, 86%, 50%);
    /* background-color: #e3c622; */
    color: white;
}


/* .col {
    float: left;
    width: 25%;
    padding: 0 10px;
}

.conatiner2 {
    margin: 0 -5px;
} */


/* footer  */

.con {
    position: relative;
    bottom: 0;
    color: whitesmoke;
    width: 100%;
    /* padding: 20px; */
}

.col {
    float: left;
    width: 25%;
    text-align: center;
    /* padding: 10px; */
    height: 100px;
    /* margin-top: 5%; */
}

.colr {
    float: left;
    width: 25%;
    text-align: center;
    /* padding: 10px; */
    height: 100px;
    /* margin-top: 5%; */
}

.ro:after {
    text-align: center;
    content: "";
    display: table;
    clear: both;
}